html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../images/nba-trivia-background.jpg");
    font-family: "Staatliches", cursive;
    letter-spacing: 1.5px;
}

.game {
    display: grid;
    height: 100%;
    align-items: center;
    justify-items: center;
}

.game-board {
    background-color: grey;
    opacity: .8;
    text-align: center;
    height: 90%;
    width: 95%;
}

.text {
    color: #fff;
    font-size: 32px;
    margin: 20px 0;
}

.answer-choices {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

button {
    height: 45px;
    width: 225px;
    margin-bottom: 5px;
    font-size: 16px;
    background-color: orange;
    cursor: pointer;
}